body {
    background-image: url(./img/ian-schneider-PAykYb-8Er8-unsplash.jpg);
    background-size: cover;
    color: #ffffff;
    
    height: 100vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Hide scrollbars */
}

h1 {
    font-style: 3.5em;
}

.countdown {
    display: inline-block;
    font-size: 1.7em;
    padding: 1em;
}
.countdown span {
    display: block;
    font-size: 3.5em;
}
@media screen and (max-width: 600px) {
    /* div.header {
      font-size: 30px;
    } */
  }